{% trans_default_domain 'ProximaUserBundle' %}

<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                <i class="icon-user"></i>
                profil
                </h3>
            </div>
            <div class="box-content nopadding">
                <ul class="tabs tabs-inline tabs-top">
                    <li class='active'>
                        <a href="{{ path('fos_user_profile_show') }}"><i class="icon-user"></i> Profil</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_edit') }}"><i class="icon-edit"></i> Modifier</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_change_password')}}"><i class="icon-lock"></i> Sécurité</a>
                    </li>
                </ul>
                <div class="tab-content padding tab-content-inline tab-content-bottom">
                    <div class="tab-pane active" id="profile">
                        <form action="#" class="form-horizontal">
                            <div class="control-group">
                                <label for="name" class="control-label">{{ 'profile.show.username'|trans }} :</label>
                                <div class="controls">
                                    <p class="simple-text">{{ user.username }}</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="name" class="control-label">{{ 'profile.show.fullname'|trans }} :</label>
                                <div class="controls">
                                    <p class="simple-text">{{ user.fullname }}</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="name" class="control-label">{{ 'profile.show.email'|trans }} :</label>
                                <div class="controls">
                                    <p class="simple-text">{{ user.email }}</p>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label for="name" class="control-label">{{ 'profile.show.password'|trans }} :</label>
                                <div class="controls">
                                    <p class="simple-text"><a href="{{ path('fos_user_change_password')}}">Change</a></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="name" class="control-label">{{ 'profile.show.role'|trans }} :</label>
                                <div class="controls">
                                    <p class="simple-text">
                                        {% for group in user.groups %}
                                            {{ group.name }} 
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>