{% extends "ProximaUserBundle:Layouts:_user.html.twig" %}

{% trans_default_domain 'ProximaUserBundle' %}

{% block title %}{{ parent() }} - {{ 'profile.title'|trans }}{% endblock%}

{% block content_body %}
    {% include "ProximaUserBundle:Profile:show_content.html.twig" %}
{% endblock content_body %}
