<div class="span11" >
    <div class="control-group">
        <label class="control-label">Date d'échéance: </label>
        <div class="controls controls-row">
            {{form_widget(form.deadline_date, {'attr': {'class': 'input-medium datepicker', 'data-rule-required':'false', 'data-date-format':'dd-mm-yyyy' }}) }}
        </div>
    </div>
</div>