{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Achat{% endblock %}
{% block stylesheets %}
    {{ parent() }}
<style>
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: #368EE0;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    }
</style>
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/themes/admin/js/plugins/select2/select2.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/datepicker/bootstrap-datepicker.js'
        'bundles/commercialmain/themes/admin/js/plugins/datepicker/locales/bootstrap-datepicker.fr.js'
        'bundles/commercialmain/themes/admin/js/plugins/icheck/jquery.icheck.min.js'
        'bundles/commercialmain/js/article_adding_order.js'
        filter='?yui_js'
         %}
<script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.select2-me').select2();
        $('.datepicker').datepicker();
        if ($(".icheck-me").length > 0) {
            $(".icheck-me").each(function() {
                var $el = $(this);
                var skin = ($el.attr('data-skin') !== undefined) ? "_" + $el.attr('data-skin') : "",
                        color = ($el.attr('data-color') !== undefined) ? "-" + $el.attr('data-color') : "";

                var opt = {
                    checkboxClass: 'icheckbox' + skin + color,
                    radioClass: 'iradio' + skin + color,
                    increaseArea: "10%"
                }

                $el.iCheck(opt);
            });
        }
        // Validation
        $('.form-validate').validate({
            errorElement: 'span',
            errorClass: 'help-block error',
            errorPlacement: function(error, element) {
                element.parents('.controls').append(error);
            },
            highlight: function(label) {
                $(label).closest('.control-group').removeClass('error success').addClass('error');
            },
            success: function(label) {
                label.addClass('valid').closest('.control-group').removeClass('error success').addClass('success');
            }
        });
        $('.grid-me .select2-me').on('change', function() {
            var id_article = $(this).val(),
                    id = $(this).attr('id');
            $.ajax({
                url: Routing.generate('commercial_main_article_get_price'),
                type: 'post',
                data: {'id_article': id_article},
                success: function(response) {
                    $('#' + id).closest('.span2').next().html(response.price.toFixed(3));
                    $('#' + id).closest('.span2').next().next().html(response.qt);
                }
            });
        });
        $('.qt').on('keyup', function() {
            var pu = $(this).parent().prev().prev().text(),
                    qt = $(this).val(),
                    total = 0;
            $(this).parent().next().html((pu * qt).toFixed(3));
            $('.qt').each(function() {
                total = parseFloat(total) + parseFloat($(this).parent().next().html());
                $('#total').html(total.toFixed(3));
            });
        });
    });
</script>
{% endblock javascripts %}
{% block content_body %}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-money"></i> Nouvelle achat</h3>
            </div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal form-validate'}}) }}
            <div class="box-content">
                <div class="row-fluid">
                    <div class="span5">
                        <div class="control-group">
                            <label class="control-label">Dépot: </label>
                            <div class="controls controls-row">
                                {{ form_widget(form.warehouse, {'attr': {'class': 'select2-me input-xlarge', 'data-rule-required':'true' }}) }}
                            </div>
                        </div>
                    </div>
                    <div class="span7">
                        <div class="control-group">
                            <label class="control-label">Sans facture: </label>
                            <div class="controls controls-row" style="margin-left: 85px; margin-top: 5px;">
                                {{ form_widget(form.black, {'attr': {'class': 'icheck-me', 'data-skin':'square', 'data-color':'blue' }}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span7">
                        <div class="control-group">
                            <label class="control-label">Fournisseur: </label>
                            <div class="controls controls-row">
                                {{ form_widget(form.supplier, {'attr': {'class': 'select2-me input-xlarge', 'data-rule-required':'true' }}) }}
                            </div>
                        </div>
                    </div>
                    <div class="span3" style="float:right; font-size: 18px;">
                        <strong>Total TTC: <span id="total">0</span> DT</strong>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 grid-me">
                        <div class="grid-me-title">
                            <div class="span2">Produit</div>
                            <div class="span2" style="text-align: center;">PU</div>
                            <div class="span2" style="text-align: center;">Qté en stock</div>
                            <div class="span2">Qté</div>
                            <div class="span2" style="text-align: right;">Total</div>
                            <div class="span2"></div>
                        </div>
                        <div class="items" data-prototype="{% filter escape %}{% include 'CommercialMainBundle:Reception:data-prototype.html.twig' with {'form': form.reception_articles.vars.prototype} %}{% endfilter %}">
                            {% for item in form.reception_articles %}
                            <div class="item">
                                <div class="span2">{{ form_widget(item.article, {'attr': {'class': 'select2-me input-large', 'data-rule-required':'true' }}) }}</div>
                                <div class="span2" style="text-align: center;">0</div>
                                <div class="span2" style="text-align: center;">0</div>
                                <div class="span2"><input type="text" name="{{ item.quantity.vars.full_name }}" data-rule-required="true" id="{{ item.quantity.vars.full_name }}" class="input-medium qt"></div>
                                <div class="span2" style="text-align: right;">0</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Valider</button>
                    <button type="reset" class="btn">Annuler</button>
                </div>
                    {{ form_widget(form._token) }}
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>
{% endblock %}