{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Facture{% endblock %}
{% block content_body %}
<div class="span4" style="margin:10px auto 0; float:none;">
    {% for flashMessage in app.session.flashbag.get('alert') %}
    <div class="alert alert-{{ flashMessage.key }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ flashMessage.title }}!</strong> {{ flashMessage.msg }}
    </div>
    {% endfor %}
</div>
<div class="row-fluid">
        <div class="span12">
                <div class="box">
                        <div class="box-title">
                                <h3>
                                        <i class="icon-money"></i>
                                        Facture
                                </h3>
                                <div style="float: right; margin-right: 40px;">
                                    <h3><a style="text-decoration: none; margin-right: 40px;" href="{{ path('commercial_main_invoice_update', {'id': entity.id}) }}"><button class="btn btn-primary"><i class="icon-edit"></i> Editer</button></a></h3>
                                    <h3><a style="text-decoration: none;" href="{{ path('commercial_main_invoice_generate_pdf', {'id': entity.id}) }}"><button class="btn btn-success"><i class="icon-print"></i> Imprimer</button></a></h3>
                                </div>
                                
                        </div>
                        <div class="box-content">
                                <div class="invoice-info">
                                    <div class="invoice-name">
                                        <p style="text-align: right"><img src="{{ asset('bundles/commercialmain/images/logo_alrahma.png') }}" alt="1 Column" /></p>
                                        <p>CLIENT:</p>
                                        <p>{{ entity.customer.name }}</p>
                                    </div>
                                    <div class="invoice-infos">
                                        <table>
                                                <tr>
                                                        <th>DATE:</th>
                                                        <td>{{ entity.invoiceDate|date('d-m-Y') }}</td>
                                                </tr>
                                                <tr>
                                                        <th>N° FACTURE : </th>
                                                        <th>{{ entity.num }}</th>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                                <table class="table table-striped table-invoice">
                                    <thead>
                                            <tr>
                                                    <th>DESCRIPTION</th>
                                                    <th>QTE</th>
                                                    <th>PRIX U</th>
                                                    <th class='tr'>PRIX TOTAL</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                        {% set total = 0 %}
                                        {% for ip in entity.invoiceProducts %}
                                            <tr>
                                                <td class='name'>{{ ip.product.name|upper }}</td>
                                                <td class='qty'>{{ ip.quantity }}</td>
                                                <td class='price'>{{ ip.product.sellPrice|number_format(3, '.', ' ') }}</td>
                                                <td class='total'>{{ (ip.quantity*ip.product.sellPrice)|number_format(3, '.', ' ') }}</td>
                                            </tr>
                                            {% set total = total + ip.quantity*ip.product.sellPrice %}
                                        {% endfor %}
                                            {% set discount = (total*entity.discount)/100 %}
                                            <tr>
                                                <td colspan="2" style="background: none repeat scroll 0 0 #FFFFFF;"></td>
                                                <td colspan="2" class='taxes'  style="background: none repeat scroll 0 0 #EEEEEE;">
                                                    <p>
                                                        <span class="light">TOTAL</span>
                                                        <span>{{ total|number_format(3, '.', ' ') }}</span>
                                                    </p>
                                                    <p>
                                                        <span class="light">REMISE <strong>{{ entity.discount }}%</strong></span>
                                                        <span>{{ discount|number_format(3, '.', ' ') }}</span>
                                                    </p>
                                                    <p>
                                                        <span class="light">TIMBRE</span>
                                                        <span>
                                                                0.400
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <span class="light">MONTANT À PAYÉE</span>
                                                        <span class="totalprice">
                                                                {{ (entity.total+0.4)|number_format(3, '.', ' ') }}
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <span class="light"></span>
                                                        <span class="totalprice">
                                                            {% if entity.status == 2 %}
                                                                {% if entity.paymentType == 0 %}
                                                                    Payée par espèce
                                                                {% else %}
                                                                    Payée par chèque
                                                                {% endif %}    
                                                            {% elseif entity.status == 1 %}
                                                                avance reçu : {{ entity.advance|number_format(3, '.', ' ') }} en 
                                                                {% if entity.paymentType == 0 %}
                                                                    espèce
                                                                {% else %}
                                                                    chèque
                                                                {% endif %}  
                                                            {% else %}
                                                                non payée
                                                            {% endif %}
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="background: none repeat scroll 0 0 #FFFFFF; border-top: 0;"></td>
                                            </tr>
                                    </tbody>
                                </table>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="invoice-payment">
                                    <span>Créer par: {{ entity.user.fullName }}</span>
                                </div>
                                {% endif %}
                        </div>
                </div>
        </div>
</div>
{% endblock %}