{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Facture{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: #368EE0;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    }
    </style>
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/themes/admin/js/plugins/select2/select2.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/datepicker/bootstrap-datepicker.js'
        'bundles/commercialmain/themes/admin/js/plugins/datepicker/locales/bootstrap-datepicker.fr.js'
        'bundles/commercialmain/themes/admin/js/plugins/icheck/jquery.icheck.min.js'
        'bundles/commercialmain/js/product_adding.js'
        filter='?yui_js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        <script type="text/javascript">
            $(document).ready(function() {
                 $('.select2-me').select2();
                 $('.datepicker').datepicker();
                 // Validation
                 $('.form-validate').validate({
                    errorElement:'span',
                    errorClass: 'help-block error',
                    errorPlacement:function(error, element){
                            element.parents('.controls').append(error);
                    },
                    highlight: function(label) {
                            $(label).closest('.control-group').removeClass('error success').addClass('error');
                    },
                    success: function(label) {
                            label.addClass('valid').closest('.control-group').removeClass('error success').addClass('success');
                    }
                 });
                 if($(".icheck-me").length > 0){
                        $(".icheck-me").each(function(){
                                var $el = $(this);
                                var skin = ($el.attr('data-skin') !== undefined) ? "_"+$el.attr('data-skin') : "",
                                color = ($el.attr('data-color') !== undefined) ? "-"+$el.attr('data-color') : "";

                                var opt = {
                                        checkboxClass: 'icheckbox' + skin + color,
                                        radioClass: 'iradio' + skin + color,
                                        increaseArea: "10%"
                                }

                                $el.iCheck(opt);
                        });
                 }
                 $('.grid-me .select2-me').each(function(){
                     var id_product = $(this).val(),
                         id = $(this).attr('id');
                    $.ajax({
                        url: Routing.generate('commercial_main_product_get_price'),
                        type: 'post',
                        data: {'id_product': id_product},
                        success: function (response){
                            $('#'+id).closest('.span2').next().html(response.price.toFixed(3));
                            $('#'+id).closest('.span2').next().next().html(response.qt);
                            $('.qt').each(function(){
                               var pu = $(this).parent().prev().prev().text(),
                                   qt = $(this).val();
                               $(this).parent().next().html((pu*qt).toFixed(3));
                           });
                        }
                    });
                 });
                 $('.grid-me .select2-me').on('change', function(){
                     var id_product = $(this).val(),
                         id = $(this).attr('id');
                    $.ajax({
                        url: Routing.generate('commercial_main_product_get_price'),
                        type: 'post',
                        data: {'id_product': id_product},
                        success: function (response){
                            $('#'+id).closest('.span2').next().html(response.price.toFixed(3));
                            $('#'+id).closest('.span2').next().next().html(response.qt);
                        }
                    });
                 });
                 $('.qt').on('keyup', function(){
                    var pu = $(this).parent().prev().prev().text(),
                        qt = $(this).val();
                    $(this).parent().next().html((pu*qt).toFixed(3));
                });
                $('#s7').on('click', function(){
                   $('#advance').addClass('hidden');
                   $('#payement').addClass('hidden');
                });
                $('#s9').on('click', function(){
                   $('#advance').addClass('hidden');
                   $('#payement').removeClass('hidden');
                });
                $('#s8').on('click', function(){
                   $('#advance').removeClass('hidden');
                   $('#payement').addClass('hidden');
                });
            });
        </script>
{% endblock javascripts %}
{% block content_body %}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-money"></i> Modifier facture</h3>
            </div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal form-validate'}}) }}
                <div class="box-content">
                    <div class="row-fluid">
                        <div class="span7">
                            <div class="control-group">
                                <label class="control-label">Client: </label>
                                <div class="controls controls-row">
                                    {{ form_widget(form.customer, {'attr': {'class': 'select2-me input-xlarge', 'data-rule-required':'true' }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">Date: </label>
                                <div class="controls controls-row">
                                    {{form_widget(form.invoice_date, {'attr': {'class': 'input-medium datepicker', 'data-rule-required':'true', 'data-date-format':'dd-mm-yyyy' }}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span7">
                        </div>
                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">N°: </label>
                                <div class="controls controls-row">
                                    {{form_widget(form.num, {'attr': {'class': 'input-medium', 'data-rule-required':'true' }}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 grid-me">
                            <div class="grid-me-title">
                                <div class="span2">Produit</div>
                                <div class="span2" style="text-align: center;">PU</div>
                                <div class="span2" style="text-align: center;">Qté disponible</div>
                                <div class="span2">Qté</div>
                                <div class="span2" style="text-align: right;">Total</div>
                                <div class="span2"></div>
                            </div>
                            <div class="items" data-prototype="{% filter escape %}{% include 'CommercialMainBundle:Invoice:data-prototype.html.twig' with {'form': form.invoice_products.vars.prototype} %}{% endfilter %}">
                                {% for item in form.invoice_products %}
                                    <div class="item">
                                        <div class="span2">{{ form_widget(item.product, {'attr': {'class': 'select2-me input-large', 'data-rule-required':'true' }}) }}</div>
                                        <div class="span2" style="text-align: center;">0</div>
                                        <div class="span2" style="text-align: center;">0</div>                                        
                                        <div class="span2">{{ form_widget(item.quantity, {'attr': {'class': 'input-medium qt'}}) }}</div>
                                        <div class="span2" style="text-align: right;">0</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span7"></div>
                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">Remise: </label>
                                <div class="controls">
                                    <input type="text" name="{{ form.discount.vars.full_name }}" value="{{ entity.discount }}" id="{{ form.discount.vars.full_name }}" class="input-small"> %
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="control-group" style="padding: 10px;">
                                <label class="control-label">Etat de payement: </label>
                                <div class="controls">
                                    <div class="check-line">
                                        <input type="radio" class='icheck-me'  id="s7" name="status" value="0" data-skin="square" data-color="blue" {% if entity.status == 0 %}checked{% endif %}> <label class='inline'>Non payée</label>
                                    </div>
                                    <div class="check-line">
                                        <input type="radio" class='icheck-me'  id="s8" name="status" value="1" data-skin="square" data-color="blue" {% if entity.status == 1 %}checked{% endif %}> <label class='inline'>Avance</label>
                                        <input type="text" name="{{ form.advance.vars.full_name }}" id="advance" class="input-small inline {% if entity.status != 1 %}hidden{% endif %}" style="margin-left: 75px;" value="{{ entity.advance }}">
                                    </div>
                                    <div class="check-line">
                                        <input type="radio" class='icheck-me'  id="s9" name="status" value="2" data-skin="square" data-color="blue" {% if entity.status == 2 %}checked{% endif %}> <label class='inline'>Payée</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="payement" class="row-fluid {% if entity.status != 2 %}hidden{% endif %}">
                        <div class="span5">
                            <div class="control-group" style="padding: 10px;">
                                <label class="control-label">Type de payement: </label>
                                <div class="controls">
                                    <div class="check-line">
                                        <input type="radio" class='icheck-me'  id="c7" name="payment_type" value="0" data-skin="square" data-color="blue" {% if entity.paymentType == 0 %}checked{% endif %}> <label class='inline'>Espèce</label>
                                    </div>
                                    <div class="check-line">
                                        <input type="radio" class='icheck-me'  id="c8" name="payment_type" value="1" data-skin="square" data-color="blue" {% if entity.paymentType == 1 %}checked{% endif %}> <label class='inline'>Chèque</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button type="reset" class="btn">Annuler</button>
                    </div>
                    {{ form_widget(form._token) }}
                </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>
{% endblock %}