{% extends "ProximaUserBundle:Layouts:email.html.twig" %}

{% trans_default_domain 'ProximaUserBundle' %}

{% block title %}{{ 'resetting.email.title'|trans }}{% endblock %}

{% block subject %}{{ 'resetting.email.subject'|trans }}{% endblock %}

{% block body_text %}
    {{ 'resetting.email.message'|trans|raw }}
{% endblock %}

{% block content_html_email %}

        <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff">
            <tr>
                <td align="center">
                    <center>
                        <table border="0" width="600" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="color:#333333 !important; font-size:20px; font-family: Arial, Verdana, sans-serif; padding-left:10px;" height="40">
                                    <h3 style="font-weight:normal; margin: 20px 0;">{{ 'resetting.email.title'|trans }}</h3>
                                    {{ 'resetting.email.message'|trans({'%confirmationUrl%': confirmationUrl, '%username%': user})|raw }}
                                </td>
                            </tr>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff">
            <tr>
                <td align="center">
                    <center>
                        <table border="0" width="600" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="color:#333333 !important; font-size:20px; font-family: Arial, Verdana, sans-serif; padding-left:10px;" height="40">
                                    <h3 style="font-weight:normal; margin: 20px 0;">Security</h3>
                                    <p style="font-size:12px; line-height:18px;">
                                        Lorem ipsum Labore mollit enim mollit aliquip nisi amet ex pariatur officia deserunt incididunt. Lorem ipsum Ut ea minim pariatur Ut cupidatat non aute sunt. Lorem ipsum Dolore proident ut elit culpa et officia reprehenderit velit minim sint. Lorem ipsum Adipisicing ad enim in dolor tempor ut Ut commodo. Lorem ipsum Sunt adipisicing fugiat eu mollit ullamco culpa cupidatat cupidatat ex labore. Lorem ipsum Minim officia aute reprehenderit sit et sed magna proident Excepteur commodo. <br /><br />Lorem ipsum Anim id esse enim Excepteur in veniam ullamco incididunt culpa Duis ea ut. Lorem ipsum Mollit esse reprehenderit proident anim consequat aliqua irure consequat esse Ut ullamco commodo. <br />
                                        <br />
                                        <br />Lorem ipsum In quis sint anim officia elit minim in dolore sint sunt. Lorem ipsum Eiusmod incididunt labore ut do sed cillum. Lorem ipsum Non non laboris anim in veniam magna elit ullamco dolor. Lorem ipsum Fugiat nulla commodo labore pariatur dolore ullamco. Lorem ipsum Exercitation ea non do est deserunt exercitation ex Excepteur Excepteur eiusmod. Lorem ipsum Id Ut enim voluptate cillum quis qui pariatur dolore et. Lorem ipsum Laborum do cupidatat occaecat in nostrud commodo dolor. Lorem ipsum Anim sit Ut eu esse nisi voluptate sit Duis. Lorem ipsum Do sit irure aliquip do ex dolor dolor sit Ut ullamco. Lorem ipsum Est in sed velit sed fugiat pariatur officia est.
                                    </p>
                                    <p style="font-size:12px; line-height:18px;">
                                        <a href="#">Check security settings</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
{% endblock %}