{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Fournisseur{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/themes/admin/js/plugins/select2/select2.min.js'
        filter='?yui_js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('.select2-me').select2();
                 // Validation
                 $('.form-validate').validate({
                        errorElement:'span',
                        errorClass: 'help-block error',
                        errorPlacement:function(error, element){
                                element.parents('.controls').append(error);
                        },
                        highlight: function(label) {
                                $(label).closest('.control-group').removeClass('error success').addClass('error');
                        },
                        success: function(label) {
                                label.addClass('valid').closest('.control-group').removeClass('error success').addClass('success');
                        }
                 });
            });
        </script>
{% endblock javascripts %}
{% block content_body %}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i> Charger stock</h3>
            </div>
            <div class="box-content">
                {{ form_start(form, {'attr': {'class': 'form-horizontal form-validate'}}) }}
                    <div class="span6">
                    <div class="control-group">
                        <label class="control-label">Nom du société: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.company_name.vars.full_name }}" value="{{ entity.companyName }}" id="{{ form.company_name.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Code tva: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.code_tva.vars.full_name }}" value="{{ entity.codeTva }}" id="{{ form.code_tva.vars.full_name }}" class="input-xlarge tax">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.name.vars.full_name }}" class="control-label">Nom personel: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.name.vars.full_name }}" value="{{ entity.name }}" data-rule-required="true" id="{{ form.name.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Adresse: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.address.vars.full_name }}" value="{{ entity.address }}" id="{{ form.address.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Ville: </label>
                        <div class="controls controls-row">
                            {{ form_widget(form.city, {'attr': {'class': 'select2-me input-xlarge', 'data-rule-required':'false' }}) }}
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">Tel: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.tel.vars.full_name }}" value="{{ entity.tel }}" id="{{ form.tel.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Mobile: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.mobile.vars.full_name }}" value="{{ entity.mobile }}" id="{{ form.mobile.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.email.vars.full_name }}" value="{{ entity.email }}" id="{{ form.email.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.description.vars.full_name }}" class="control-label">Description: </label>
                        <div class="controls">
                                <textarea name="{{ form.description.vars.full_name }}" id="textarea" class="input-block-level">{{ entity.description }}</textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button type="cancel" class="btn">Annuler</button>
                    </div>
                </div>
                    {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}