{% extends "CommercialMainBundle:Layouts/Admin:offline_layout.html.twig" %}

{% trans_default_domain 'ProximaUserBundle' %}

{% block content_body %}
    <h2>{{ 'layout.login'|trans }}</h2>
    {% if error %}
        <div class="alert alert-error" style="margin-left: 10px; margin-top: 10px; margin-right: 10px;">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>ERROR:</strong> {{ error|trans }}
        </div>
    {% endif %}
    <form class='form-validate' id="test" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="control-group">
            <div class="email controls">
                <input type="text"  id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" class='input-block-level' data-rule-required="true" data-rule-email="false">
            </div>
        </div>
        <div class="control-group">
            <div class="pw controls">
                <input type="password"  id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" class='input-block-level' data-rule-required="true">
            </div>
        </div>
        <div class="submit">
            <div class="remember">
                <input type="checkbox" id="remember_me" name="_remember_me" class='icheck-me' data-skin="square" data-color="blue" > <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>
            <input type="submit"  id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class='btn btn-primary'>
        </div>
    </form>
    
    <div class="forget">
        <a href="{{ path('fos_user_resetting_request') }}"><span>{{ 'resetting.link'|trans }}</span></a>
    </div>
{% endblock content_body %}