{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Achat{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/js/WarehouseEntry.js'
        filter='?yui_js'
         %}
<script src="{{ asset_url }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        WarehouseEntry().init();
    })
    </script>
    {% endjavascripts %}
{% endblock javascripts %}
{% block content_body %}
    <div class="span4" style="margin:10px auto 0; float:none;">
        {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-{{ flashMessage.key }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ flashMessage.title }}!</strong> {{ flashMessage.msg }}
        </div>
        {% endfor %}
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-title">
                    <h3>
                        <i class="icon-table"></i>
                        Liste des mouvements d'entrées
                    </h3>
                </div>
                <div class="box-content nopadding">
                    {{ table|raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <a href="{{ path('commercial_main_reception_add') }}"><button class="btn btn-success"><i class="icon-plus"></i> Charger stock</button></a>
    </div>
{% endblock %}