{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Achat{% endblock %}
{% block content_body %}
    <div class="span4" style="margin:10px auto 0; float:none;">
        {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-{{ flashMessage.key }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ flashMessage.title }}!</strong> {{ flashMessage.msg }}
        </div>
        {% endfor %}
    </div>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-info"></i>
                    Informations
                </h3>
            </div>
            <div class="box-content">
                <div class="invoice-info">
                    <div class="invoice-from">
                        <span>Détails</span>
                        <strong>Article</strong>
                        <address>
                            {{ entity.warehouseArticle.Article.name }} <br>
                        </address>
                        <strong>Réference du article</strong>
                        <address>
                            {{ entity.warehouseArticle.Article.reference }} <br>
                        </address>
                        <strong>Famille du article</strong>
                        <address>
                            {{ entity.warehouseArticle.Article.category.name }} <br>
                        </address>
                    </div>
                    <div class="invoice-to">
                        <span><br></span>
                        <strong>Quantité</strong>
                        <address>
                            {{ entity.quantity }} <br>
                        </address>
                        <strong>PU d'achat</strong>
                        <address>
                            {{ entity.warehouseArticle.Article.buyPrice|number_format(3, '.', ' ') }} <br>
                        </address>
                        <strong>Montant</strong>
                        <address>
                            {{ (entity.quantity*entity.warehouseArticle.Article.buyPrice)|number_format(3, '.', ' ') }} <br>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}