{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Achat{% endblock %}
{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">
            $(document).ready(function() {
                 // Validation
                 $('.form-validate').validate({
                        errorElement:'span',
                        errorClass: 'help-block error',
                        errorPlacement:function(error, element){
                                element.parents('.controls').append(error);
                        },
                        highlight: function(label) {
                                $(label).closest('.control-group').removeClass('error success').addClass('error');
                        },
                        success: function(label) {
                                label.addClass('valid').closest('.control-group').removeClass('error success').addClass('success');
                        }
                 });
            });
        </script>
{% endblock javascripts %}
{% block content_body %}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i> Modifier mouvement d'entrée</h3>
            </div>
            <div class="box-content">
                {{ form_start(form, {'attr': {'class': 'form-horizontal form-validate'}}) }}
                    <div class="control-group">
                        <label class="control-label">Dépôt: </label>
                        <div class="controls">
                            {{ entity.warehousearticle.warehouse.name }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Article: </label>
                        <div class="controls">
                            {{ entity.warehousearticle.article.name }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Fournisseur: </label>
                        <div class="controls">
                            {% if entity.warehousearticle.supplier is not null %}
                                {{ entity.warehousearticle.supplier.name }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Quantité: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.quantity.vars.full_name }}" value="{{entity.quantity}}" data-rule-required="true" data-rule-number="true" id="{{ form.quantity.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button type="cancel" class="btn">Annuler</button>
                    </div>
                    {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}