{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Client{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/js/Customer.js'
        filter='?yui_js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        Customer().init();
    });
    </script>
{% endblock javascripts %}
{% block content_body %}
    <div class="span4" style="margin:10px auto 0; float:none;">
        {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-{{ flashMessage.key }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ flashMessage.title }}!</strong> {{ flashMessage.msg }}
        </div>
        {% endfor %}
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="box box-color box-bordered satblue">
                <div class="box-title">
                    <h3>
                        <i class="icon-table"></i>
                        Liste des clients
                    </h3>
                </div>
                <div class="box-content nopadding">
                    {{ table|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}