{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Client{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/themes/admin/js/plugins/datatable/jquery.dataTables.min.js'
        filter='?yui_js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.table').dataTable(); 
        $('.delete').confirmation();
    });
    </script>
{% endblock javascripts %}
{% block content_body %}
    <div class="span4" style="margin:10px auto 0; float:none;">
        {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-{{ flashMessage.key }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ flashMessage.title }}!</strong> {{ flashMessage.msg }}
        </div>
        {% endfor %}
    </div>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-info"></i>
                    Informations
                </h3>
            </div>
            <div class="box-content">
                <div class="invoice-info">
                    <div class="invoice-from">
                        <span>Détails</span>
                        <strong>Nom</strong>
                        <address>
                            {{ entity.name }} <br>
                        </address>
                        <strong>Adresse</strong>
                        <address>
                            {{ entity.address }} <br>
                        </address>
                        {% if entity.city is not null %}
                            <strong>Ville</strong>
                            <address>
                                {{ entity.city.name }} <br>
                            </address>
                        {% endif %}
                        <strong>Description</strong>
                        <address>
                            {{ entity.description }} <br>
                        </address>
                    </div>
                    <div class="invoice-to">
                        <span>cordonnées</span>
                        <strong>Nom de société</strong>
                        <address>
                            {{ entity.companyName }} <br>
                        </address>
                        <strong>Type de client</strong>
                        <address>
                            {% if entity.tvaType == 0 %}
                                Exonoré <br>
                            {% else %}
                                Assujetti <br>
                            {% endif %}
                        </address>
                            <strong>Code tva</strong>
                            <address>
                                {{ entity.codeTva }} <br>
                            </address>
                        <strong>Tel</strong>
                        <address>
                            {{ entity.tel }} <br>
                        </address>
                        <strong>Mobile</strong>
                        <address>
                            {{ entity.mobile }} <br>
                        </address>
                        <strong>E-mail</strong>
                        <address>
                            {{ entity.email }} <br>
                        </address>
                    </div>
                    <div class="invoice-to">
                        <span>Banque</span>
                        <strong>Nom</strong>
                        <address>
                            {{ entity.bankName }} <br>
                        </address>
                        <strong>R.I.B</strong>
                        <address>
                            {{ entity.bankRib }} <br>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span8">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    Liste des bons de livraison
                </h3>
            </div>
            <div class="box-content nopadding">
                {{ form_start(form, {'attr': {'class': 'form-horizontal form-validate'}}) }}
                <table class="table table-hover table-nomargin table-bordered usertable">
                    <thead>
                        <tr>
                            <th class='with-checkbox'><h3><button type="submit" class="btn btn-success"><i class="icon-file"></i> Facturer</button></h3></th>
                            <th>Num</th>
                            <th>Date</th>
                            <th class='hidden-350'>Total</th>
                            <th class='hidden-480'>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bl in entity.deliveries %}
                            <tr>
                                <td class="with-checkbox">
                                    <input type="checkbox" name="check[]" value="{{ bl.id }}">
                                </td>
                                <td>{{ bl.num }}</td>
                                <td>{{ bl.deliveryDate|date('d-m-Y') }}</td>
                                <td class='hidden-350'>{{ bl.total|number_format(3, '.', ' ') }}</td>
                                <td class='hidden-480'>
                                    <a href="{{ path('commercial_main_deliveryorder_show', { 'id': bl.id}) }}" class="btn" rel="tooltip" title="View"><i class="icon-search"></i></a>
                                    <a href="{{ path('commercial_main_deliveryorder_update', { 'id': bl.id}) }}" class="btn" rel="tooltip" title="Edit"><i class="icon-edit"></i></a>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <a href="#" id="{{ bl.id }}" class="btn delete" rel="tooltip" title="Effacer" data-href="{{ path('commercial_main_deliveryorder_delete', { 'id': bl.id}) }}"><i class="icon-remove"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}