{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Client{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/themes/admin/js/plugins/select2/select2.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/jquery-ui/jquery.ui.slider.js'
        'bundles/commercialmain/themes/admin/js/plugins/icheck/jquery.icheck.min.js'
        filter='?yui_js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('.select2-me').select2();
                //ichek
                if($(".icheck-me").length > 0){
                        $(".icheck-me").each(function(){
                                var $el = $(this);
                                var skin = ($el.attr('data-skin') !== undefined) ? "_"+$el.attr('data-skin') : "",
                                color = ($el.attr('data-color') !== undefined) ? "-"+$el.attr('data-color') : "";

                                var opt = {
                                        checkboxClass: 'icheckbox' + skin + color,
                                        radioClass: 'iradio' + skin + color,
                                        increaseArea: "10%"
                                }

                                $el.iCheck(opt);
                        });
                 }
                 // Validation
                 $('.form-validate').validate({
                        errorElement:'span',
                        errorClass: 'help-block error',
                        errorPlacement:function(error, element){
                                element.parents('.controls').append(error);
                        },
                        highlight: function(label) {
                                $(label).closest('.control-group').removeClass('error success').addClass('error');
                        },
                        success: function(label) {
                                label.addClass('valid').closest('.control-group').removeClass('error success').addClass('success');
                        }
                 });
            });
        </script>
{% endblock javascripts %}
{% block content_body %}
<script src="{{ asset('bundles/commercialmain/themes/admin/js/jquery.min.js') }}" type="text/javascript"></script>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i> Nouveau client</h3>
            </div>
            <div class="box-content">
                {{ form_start(form, {'attr': {'class': 'form-horizontal form-validate'}}) }}
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">Nom du société: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.company_name.vars.full_name }}" value="{{ entity.companyName }}" id="{{ form.company_name.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Code tva: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.code_tva.vars.full_name }}" value="{{ entity.codeTva }}" id="{{ form.code_tva.vars.full_name }}" class="input-xlarge tax">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.name.vars.full_name }}" class="control-label">Nom personel: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.name.vars.full_name }}" value="{{ entity.name }}" data-rule-required="true" id="{{ form.name.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Adresse: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.address.vars.full_name }}" value="{{ entity.address }}" id="{{ form.address.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Ville: </label>
                        <div class="controls controls-row">
                            {{ form_widget(form.city, {'attr': {'class': 'select2-me input-xlarge', 'data-rule-required':'false' }}) }}
                        </div>
                    </div>
                    <div class="control-group" style="padding: 10px;">
                        <label class="control-label">Type de client: </label>
                        <div class="controls">
                            <div class="check-line">
                                <input type="radio" class='icheck-me'  id="c1" name="tva_type" value="0" data-skin="square" data-color="blue" {% if entity.tvaType == 0 %} checked {% endif %}> <label class='inline'>Exonéré</label>
                            </div>
                            <div class="check-line">
                                <input type="radio" class='icheck-me'  id="c2" name="tva_type" value="1" data-skin="square" data-color="blue" {% if entity.tvaType == 1 %} checked {% endif %}> <label class='inline'>Assujetti</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">Tel: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.tel.vars.full_name }}" value="{{ entity.tel }}" id="{{ form.tel.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Mobile: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.mobile.vars.full_name }}" value="{{ entity.mobile }}" id="{{ form.mobile.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.email.vars.full_name }}" value="{{ entity.email }}" id="{{ form.email.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Nom du banque: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.bank_name.vars.full_name }}" value="{{ entity.bankName }}" id="{{ form.bank_name.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">R.I.B du compte: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.bank_rib.vars.full_name }}" value="{{ entity.bankRib }}" id="{{ form.bank_rib.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.description.vars.full_name }}" class="control-label">Description: </label>
                        <div class="controls">
                                <textarea name="{{ form.description.vars.full_name }}" id="textarea" class="input-block-level">{{ entity.description }}</textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button type="cancel" class="btn">Annuler</button>
                    </div>
                </div>
                    {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}