{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Dépot{% endblock %}
{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">
            $(document).ready(function() {
                 // Validation
                 $('.form-validate').validate({
                        errorElement:'span',
                        errorClass: 'help-block error',
                        errorPlacement:function(error, element){
                                element.parents('.controls').append(error);
                        },
                        highlight: function(label) {
                                $(label).closest('.control-group').removeClass('error success').addClass('error');
                        },
                        success: function(label) {
                                label.addClass('valid').closest('.control-group').removeClass('error success').addClass('success');
                        }
                 });
            });
        </script>
{% endblock javascripts %}
{% block content_body %}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i> Nouveau dépôt</h3>
            </div>
            <div class="box-content">
                {{ form_start(form, {'attr': {'class': 'form-horizontal form-validate'}}) }}
                    <div class="control-group">
                        <label for="{{ form.name.vars.full_name }}" class="control-label">Nom: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.name.vars.full_name }}" data-rule-required="true" id="{{ form.name.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.address.vars.full_name }}" class="control-label">Adresse: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.address.vars.full_name }}" id="textfield" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.tel.vars.full_name }}" class="control-label">Tel: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.tel.vars.full_name }}" id="textfield" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.description.vars.full_name }}" class="control-label">Description: </label>
                        <div class="controls">
                                <textarea name="{{ form.description.vars.full_name }}" id="textarea" class="input-block-level"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button type="cancel" class="btn">Annuler</button>
                    </div>
                    {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}