{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Dépôt{% endblock %}
{% block content_body %}
    <div class="span4" style="margin:10px auto 0; float:none;">
        {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-{{ flashMessage.key }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ flashMessage.title }}!</strong> {{ flashMessage.msg }}
        </div>
        {% endfor %}
    </div>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-info"></i>
                    Informations
                </h3>
            </div>
            <div class="box-content">
                <div class="invoice-info">
                    <div class="invoice-from">
                        <span>Détails</span>
                        <strong>Nom</strong>
                        <address>
                            {{ entity.name }} <br>
                        </address>
                        <strong>Adresse</strong>
                        <address>
                            {{ entity.address }} <br>
                        </address>
                    </div>
                    <div class="invoice-to">
                        <span>cordonnées</span>
                        <strong>Tel</strong>
                        <address>
                            {{ entity.tel }} <br>
                        </address>
                        <strong>Description</strong>
                        <address>
                            {{ entity.description }} <br>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}