{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Dépot{% endblock %}
{% block content_body %}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i> Modifier dépôt</h3>
            </div>
            <div class="box-content">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="control-group">
                        <label for="{{ form.name.vars.full_name }}" class="control-label">Nom: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.name.vars.full_name }}" value="{{ entity.name }}" id="textfield" class="input-xlarge">
                            {% if form_errors(form.name) %}
                            <span class="help-block error">Ce champ est obligatoire</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.address.vars.full_name }}" class="control-label">Adresse: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.address.vars.full_name }}" value="{{ entity.address }}" id="textfield" class="input-xlarge">
                            {% if form_errors(form.address) %}
                            <span class="help-block error">Ce champ est obligatoire</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.tel.vars.full_name }}" class="control-label">Tel: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.tel.vars.full_name }}" value="{{ entity.tel }}" id="textfield" class="input-xlarge">
                            {% if form_errors(form.tel) %}
                            <span class="help-block error">Ce champ est obligatoire</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.description.vars.full_name }}" class="control-label">Description: </label>
                        <div class="controls">
                                <textarea name="{{ form.description.vars.full_name }}" id="textarea" class="input-block-level">{{ entity.description }}</textarea>
                                {% if form_errors(form.description) %}
                                <span class="help-block error">Ce champ est obligatoire</span>
                                {% endif %}
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button type="cancel" class="btn">Annuler</button>
                    </div>
                    {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}