<div class="span3">{{ form_widget(form.article, {'attr': {'class': 'select2-me input-large', 'data-rule-required':'true' }}) }}</div>
<div class="span1" style="text-align: center;">0</div>
<div class="span2" style="text-align: center;">0</div>
<div class="span2"><input type="text" name="{{ form.quantity.vars.full_name }}" data-rule-required="true" id="{{ form.quantity.vars.full_name }}" class="input-small qt"></div>
<div class="span1" style="text-align: right;">0</div>
<div class="span1" style="text-align: right;"></div>
<div class="span1" style="text-align: right;"></div>