{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Devis{% endblock %}
{% block content_body %}
<div class="span4" style="margin:10px auto 0; float:none;">
    {% for flashMessage in app.session.flashbag.get('alert') %}
    <div class="alert alert-{{ flashMessage.key }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ flashMessage.title }}!</strong> {{ flashMessage.msg }}
    </div>
    {% endfor %}
</div>
<div class="row-fluid">
        <div class="span12">
                <div class="box">
                        <div class="box-title">
                                <h3>
                                        <i class="icon-money"></i>
                                        Devis
                                </h3>
                                <div style="float: right; margin-right: 40px;">
                                    <h3><a style="text-decoration: none; margin-right: 40px;" href="{{ path('commercial_main_quote_generateFacture', {'id': entity.id}) }}"><button class="btn btn-warning"><i class="icon-paste"></i> Facturer</button></a></h3>
                                    <h3><a style="text-decoration: none; margin-right: 40px;" href="{{ path('commercial_main_quote_update', {'id': entity.id}) }}"><button class="btn btn-primary"><i class="icon-edit"></i> Editer</button></a></h3>
                                    <h3><a style="text-decoration: none;" href="{{ path('commercial_main_quote_generate_pdf', {'id': entity.id}) }}"><button class="btn btn-success"><i class="icon-print"></i> Imprimer</button></a></h3>
                                </div>
                                
                        </div>
                        <div class="box-content">
                                <div class="invoice-info">
                                    <div class="invoice-name">
                                        <p style="text-align: right"><img src="{{ asset('bundles/commercialmain/images/logo_alrahma.png') }}" alt="1 Column" /></p>
                                        <p>CLIENT:</p>
                                        <p>{{ entity.customer.name }}</p>
                                        <p>{{ entity.customer.address }}</p>
                                        {% if entity.customer.tvaType == 1 %}
                                            <p>code TVA : {{ entity.customer.codeTva }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="invoice-infos">
                                        <table>
                                                <tr>
                                                        <th>DATE:</th>
                                                        <td>{{ entity.quoteDate|date('d-m-Y') }}</td>
                                                </tr>
                                                <tr>
                                                        <th>N° DEVIS : </th>
                                                        <th>{{ entity.num }}</th>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                                <table class="table table-striped table-invoice">
                                    <thead>
                                            <tr>
                                                    <th>DESIGNATION</th>
                                                    <th>QTE</th>
                                                    <th>PRIX U</th>
                                                    <th class='tr'>PRIX TOTAL</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                        {% set tva = 0 %}
                                        {% set total = 0 %}
                                        {% for ip in entity.quoteArticles %}
                                            <tr>
                                                <td class='name'>{{ ip.article.name|upper }}</td>
                                                <td class='qty'>{{ ip.quantity }}</td>
                                                <td class='price'>{{ ip.article.sellPrice|number_format(3, '.', ' ') }}</td>
                                                <td class='total'>{{ (ip.quantity*ip.article.sellPrice)|number_format(3, '.', ' ') }}</td>
                                            </tr>
                                            {% set tva = tva + ip.quantity*((ip.article.sellPrice*ip.article.tva.taux)/100) %}
                                            {% set total = total + ip.quantity*ip.article.sellPrice %}
                                        {% endfor %}
                                            {% set discount = (entity.total*entity.discount)/100 %}
                                            <tr>
                                                <td colspan="2" style="background: none repeat scroll 0 0 #FFFFFF;"></td>
                                                <td colspan="2" class='taxes'  style="background: none repeat scroll 0 0 #EEEEEE;">
                                                    <p>
                                                        {% if entity.customer.tvaType == 1 %}
                                                            <span class="light">TOTAL HT</span>
                                                            <span>{{ total|number_format(3, '.', ' ') }}</span>
                                                        {% else %}
                                                            <span class="light">TOTAL</span>                                                    
                                                            <span>{{ total|number_format(3, '.', ' ') }}</span>
                                                        {% endif %}
                                                    </p>
                                                    {% if entity.customer.tvaType == 1 %}
                                                    <p>
                                                        <span class="light">TVA</span>
                                                        <span>{{ tva|number_format(3, '.', ' ') }}</span>
                                                    </p>
                                                    {% endif %}
                                                    <p>
                                                        <span class="light">REMISE <strong>{{ entity.discount }}%</strong></span>
                                                        <span>{{ (total-entity.total+tva)|number_format(3, '.', ' ') }}</span>
                                                    </p>
                                                    <p>
                                                        <span class="light">NET A PAYER </span>
                                                        <span class="totalprice">
                                                                {{ entity.total|number_format(3, '.', ' ') }}
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                                <div class="invoice-payment">
                                    <span>Créer par: {{ entity.user.fullName }}</span>
                                </div>
                        </div>
                </div>
        </div>
</div>
{% endblock %}