{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Devis{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: #368EE0;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    }
    </style>
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/themes/admin/js/plugins/select2/select2.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/datepicker/bootstrap-datepicker.js'
        'bundles/commercialmain/themes/admin/js/plugins/datepicker/locales/bootstrap-datepicker.fr.js'
        'bundles/commercialmain/js/article_adding.js'
        filter='?yui_js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        <script type="text/javascript">
            $(document).ready(function() {
                 $('.select2-me').select2();
                 $('.datepicker').datepicker();
                 // Validation
                 $('.form-validate').validate({
                    errorElement:'span',
                    errorClass: 'help-block error',
                    errorPlacement:function(error, element){
                            element.parents('.controls').append(error);
                    },
                    highlight: function(label) {
                            $(label).closest('.control-group').removeClass('error success').addClass('error');
                    },
                    success: function(label) {
                            label.addClass('valid').closest('.control-group').removeClass('error success').addClass('success');
                    }
                 });
                 $('.grid-me .select2-me').each(function(){
                     var id_article = $(this).val(),
                         id = $(this).attr('id');
                    $.ajax({
                        url: Routing.generate('commercial_main_article_get_price'),
                        type: 'post',
                        data: {'id_article': id_article},
                        success: function (response){
                            $('#'+id).closest('.span3').next().html(response.price.toFixed(3));
                            $('#'+id).closest('.span3').next().next().html(response.qt);
                            $('#'+id).closest('.span3').next().next().next().next().next().html(response.tva+' %');
                            $('.qt').each(function(){
                               var pu = $(this).parent().prev().prev().text(),
                                   taux = $(this).parent().next().next().html(),
                                   tva = parseFloat(taux.replace(" %", ".")),
                                   qt = $(this).val();
                               $(this).parent().next().html((pu*qt).toFixed(3));
                               $(this).parent().next().next().next().html(((parseFloat(pu)+((pu*tva)/100))*qt).toFixed(3));
                           });
                        }
                    });
                 });
                 $('.grid-me .select2-me').on('change', function(){
                     var id_article = $(this).val(),
                         id = $(this).attr('id');
                    $.ajax({
                        url: Routing.generate('commercial_main_article_get_price'),
                        type: 'post',
                        data: {'id_article': id_article},
                        success: function (response){
                            $('#'+id).closest('.span3').next().html(response.price.toFixed(3));
                            $('#'+id).closest('.span3').next().next().html(response.qt);
                            $('#'+id).closest('.span3').next().next().next().next().next().html(response.tva+' %');
                        }
                    });
                 });
                 $('.qt').on('keyup', function(){
                    var pu = $(this).parent().prev().prev().text(),
                        qt = $(this).val(),
                        taux = $(this).parent().next().next().html(),
                        tva = parseFloat(taux.replace(" %", "."));
                    $(this).parent().next().html((pu*qt).toFixed(3));
                    $(this).parent().next().next().next().html(((parseFloat(pu)+((pu*tva)/100))*qt).toFixed(3));
                });
            });
        </script>
{% endblock javascripts %}
{% block content_body %}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-money"></i> Modifier devis</h3>
            </div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal form-validate'}}) }}
                <div class="box-content">
                    <div class="row-fluid">
                        <div class="span7">
                            <div class="control-group">
                                <label class="control-label">Client: </label>
                                <div class="controls controls-row">
                                    {{ form_widget(form.customer, {'attr': {'class': 'select2-me input-xlarge', 'data-rule-required':'true' }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">Date: </label>
                                <div class="controls controls-row">
                                    {{form_widget(form.quote_date, {'attr': {'class': 'input-medium datepicker', 'data-rule-required':'true', 'data-date-format':'dd-mm-yyyy' }}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span7">
                        </div>
                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">N°: </label>
                                <div class="controls controls-row">
                                    {{form_widget(form.num, {'attr': {'class': 'input-medium', 'data-rule-required':'true' }}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 grid-me">
                            <div class="grid-me-title">
                                <div class="span3">Article</div>
                                <div class="span1" style="text-align: center;">PU</div>
                                <div class="span2" style="text-align: center;">Qté disponible</div>
                                <div class="span2">Qté</div>
                                <div class="span1" style="text-align: right;">Total HT</div>
                                <div class="span1 {% if entity.customer.tvaType == 0 %} hidden {% endif %}" style="text-align: right;">tva</div>
                                <div class="span1 {% if entity.customer.tvaType == 0 %} hidden {% endif %}" style="text-align: right;">Total TTC</div>
                                <div class="span1"></div>
                            </div>
                            <div class="items" data-prototype="{% filter escape %}{% include 'CommercialMainBundle:Quote:data-prototype.html.twig' with {'form': form.quote_articles.vars.prototype} %}{% endfilter %}">
                                {% for item in form.quote_articles %}
                                    <div class="item">
                                        <div class="span3">{{ form_widget(item.article, {'attr': {'class': 'select2-me input-large', 'data-rule-required':'true' }}) }}</div>
                                        <div class="span1" style="text-align: center;">0</div>
                                        <div class="span2" style="text-align: center;">0</div>
                                        <div class="span2">{{ form_widget(item.quantity, {'attr': {'class': 'input-small qt'}}) }}</div>
                                        <div class="span1" style="text-align: right;">0</div>
                                        <div class="span1 {% if entity.customer.tvaType == 0 %} hidden {% endif %}" style="text-align: right;">0 %</div>
                                        <div class="span1 {% if entity.customer.tvaType == 0 %} hidden {% endif %}" style="text-align: right;">0</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span7"></div>
                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">Remise: </label>
                                <div class="controls">
                                    <input type="text" name="{{ form.discount.vars.full_name }}" value="{{ entity.discount }}" id="{{ form.discount.vars.full_name }}" class="input-small"> %
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button type="cancel" class="btn">Annuler</button>
                    </div>
                    {{ form_widget(form._token) }}
                </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>
{% endblock %}