{% extends "ProximaUserBundle:Layouts:_user.html.twig" %}
{% trans_default_domain 'ProximaUserBundle' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/themes/admin/js/plugins/datatable/jquery.dataTables.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/jquery-ui/jquery.ui.datepicker.min.js'
        filter='?yui_js'
         %}
<script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.usertable').dataTable();
		$('.delete').confirmation();
    })
    </script>
{% endblock javascripts %}
{% block content_body %}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    Utilisateurs
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered usertable">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th class='hidden-350'>Status</th>
                            <th class='hidden-1024'>Member since</th>
                            <th class='hidden-480'>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                        <tr>
                            <td>{{entity.username}}</td>
                            <td>{{entity.email}}</td>
                            <td class='hidden-350'><span class="label {%if not entity.locked %}{% if entity.enabled %} label-satgreen {%else%} label-lightred {%endif%}{%endif%}">{%if not entity.locked %}{% if entity.enabled %} Active {%else%} Inactive {%endif%}{%else%}Locked{%endif%}</span></td>
                            <td class='hidden-1024'>{{entity.lastLogin|date('j-m-Y')}}</td>
                            <td class='hidden-480'>
                                <a href="{{ path('proxima_user_show', {'id': entity.id}) }}" class="btn" rel="tooltip" title="View"><i class="icon-search"></i></a>
                                <a href="{{ path('proxima_user_edit', {'id': entity.id}) }}" class="btn" rel="tooltip" title="Edit"><i class="icon-edit"></i></a>
                                <a href="#" id="{{ entity.id }}" class="btn delete" data-href="{{ path('proxima_user_delete', {'id': entity.id}) }}" class="btn" rel="tooltip" title="Delete"><i class="icon-remove"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}