{% extends "ProximaUserBundle:Layouts:_user.html.twig" %}

{% trans_default_domain 'ProximaUserBundle' %}

{% block content_body %}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-edit"></i>
                    Create new user
                </h3>
            </div>
            <div class="box-content nopadding">
                <form id="bb" class="form-horizontal form-validate form-bordered" method="POST" action="{{ path('proxima_user_create') }}" novalidate="novalidate">
                    <div class="control-group{% if form_errors(form.username) %} error{% endif %}">
                        {{ form_label(form.username) }}
                        <div class="controls">
                            <div class="input-append">
                                    <input id="proxima_userbundle_usertype_username" class="username-check" type="text" data-rule-required="true" pattern=".{2,}" maxlength="255" name="proxima_userbundle_usertype[username]">
                                    <a class="btn add-on username-check-force" href="#"><i class="icon-refresh"></i></a>
                            </div>
                            <span class="help-block{% if form_errors(form.username) %} error{% endif %}">
                                {% if form_errors(form.username) %}
                                    {{ form_errors(form.username) }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="control-group{% if form_errors(form.lastname) %} error{% endif %}">
                        {{ form_label(form.lastname) }}
                        <div class="controls">
                            {{ form_widget(form.lastname) }}
                            {% if form_errors(form.lastname) %}
                                <span class="help-block error">{{ form_errors(form.lastname) }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group{% if form_errors(form.firstname) %} error{% endif %}">
                        {{ form_label(form.firstname) }}
                        <div class="controls">
                            {{ form_widget(form.firstname) }}
                            {% if form_errors(form.firstname) %}
                                <span class="help-block error">{{ form_errors(form.firstname) }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group{% if form_errors(form.email) %} error{% endif %}">
                        {{ form_label(form.email) }}
                        <div class="controls">
                            {{ form_widget(form.email) }}
                            {% if form_errors(form.email) %}
                                <span class="help-block error">{{ 'form.error.email_exist'|trans }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form.enabled) }}
                        <div class="controls">
                            {{ form_widget(form.enabled) }}
                            {% if form_errors(form.enabled) %}
                                <span class="help-block error">{{ form_errors(form.enabled) }}</span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="control-group">
                        {{ form_label(form.plainPassword['first']) }}
                        <div class="controls">
                            <div class="input-xlarge">
                                <input type="password" data-rule-required="true" name="proxima_userbundle_usertype[plainPassword][first]" id="proxima_userbundle_usertype_plainPassword_first" class="complexify-me input-block-level">
                                <span class="help-block{% if form_errors(form.plainPassword['first']) %} error{% endif %}">
                                    <div class="progress progress-info">
                                        <div style="width: 0%" class="bar bar-red">0%</div>
                                    </div>
                                    {% if form_errors(form.plainPassword['first']) %}
                                        {{ form_errors(form.plainPassword['first']) }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        {#<div class="controls">
                            {{ form_widget(form.plainPassword['first']) }}
                            {% if form_errors(form.plainPassword['first']) %}
                                {{ form_errors(form.plainPassword['first']) }}
                            {% endif %}
                        </div>#}
                    </div>
                    <div class="control-group">
                        {{ form_label(form.plainPassword['second']) }}
                        <div class="controls">
                            {{ form_widget(form.plainPassword['second']) }}
                            {% if form_errors(form.plainPassword['second']) %}
                                <span class="help-block error">{{ form_errors(form.plainPassword['second']) }}</span>
                            {% endif %}
                        </div>
                    </div>
                    {% if group_widget %}
                        <div class="control-group">
                            {{ form_label(form.groups) }}
                            <div class="controls">
                                {{ form_widget(form.groups) }}
                                {% if form_errors(form.groups) %}
                                    <span class="help-block error">{{ form_errors(form.groups) }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {{ form_row(form._token) }}
                    <div class="form-actions">
                        <input class="btn btn-primary" type="submit" value="Submit">
                        <button class="btn" type="button">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}