<html>
    <head>
	<meta charset="utf-8">
        {% stylesheets 
        'bundles/commercialmain/themes/admin/css/bootstrap.min.css'
        'bundles/commercialmain/themes/admin/css/bootstrap-responsive.min.css'
        'bundles/commercialmain/themes/admin/css/plugins/jquery-ui/smoothness/jquery-ui.css'
        'bundles/commercialmain/themes/admin/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css'
        'bundles/commercialmain/themes/admin/css/plugins/select2/select2.css'
        'bundles/commercialmain/third-party/css/slickGrid/slick.grid.css'
        'bundles/commercialmain/themes/admin/css/style.css'
        'bundles/commercialmain/themes/admin/css/themes.css'
        'bundles/commercialmain/css/custom.css'

        filter='?yui_css,cssrewrite'
         %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
<style>
	.content{
		width: 850px;
		margin: 0 auto;
		height: 925px;
	}
        .table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
            background-color: #FFFFFF;
        }
        .table tr th, .table tr td {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid;
        }
        .table tr th {
            text-align: center;
        }
        .table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
            border-top: 1px solid;
        }
        .invoice-info .invoice-infos {
            margin-bottom:  30px;
        }
</style>
</head>
<body>
<div class="content">
    <div class="row-fluid">
        <div class="box" style="margin-top: 50px;">
                        <div class="box-title">
                                <h3>
                                        <i class="icon-money"></i>
                                        Bon de livraison
                                </h3>
                                
                        </div>
                        <div class="box-content">
                            <div class="invoice-info">
                                    <div class="invoice-name">
                                        <p style="text-align: right"><img src="{{ asset('bundles/commercialmain/images/logo_alrahma.png') }}" alt="1 Column" /></p>
                                        <p>CLIENT:</p>
                                        <p>{{ entity.customer.name }}</p>
                                        <p>{{ entity.customer.address }}</p>
                                        {% if entity.customer.tvaType == 1 %}
                                            <p>code TVA : {{ entity.customer.codeTva }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="invoice-infos">
                                        <table>
                                                <tr>
                                                        <th>DATE:</th>
                                                        <td>{{ entity.deliveryDate|date('d-m-Y') }}</td>
                                                </tr>
                                                <tr>
                                                        <th>N° BL : </th>
                                                        <th>{{ entity.num }}</th>
                                                </tr>
                                        </table>
                                    </div>
                            </div>
                                <table class="table table-striped table-invoice">
                                    <thead>
                                            <tr>
                                                    <th>DESCRIPTION</th>
                                                    <th>QTE</th>
                                                    <th>PRIX U</th>
                                                    <th class='tr'>PRIX TOTAL</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                        {% set n = 0 %}
                                        {% set tva = 0 %}
                                        {% set total = 0 %}
                                        {% for ip in entity.deliveryArticles %}
                                            <tr>
                                                <td class='name'>{{ ip.article.name|upper }}</td>
                                                <td class='qty' style="text-align: center;">{{ ip.quantity }}</td>
                                                <td class='price' style="text-align: right;"><span style="float: left;">DT</span>{{ ip.article.sellPrice|number_format(3, '.', ' ') }}</td>
                                                <td class='total'><span style="float: left;">DT</span>{{ (ip.quantity*ip.article.sellPrice)|number_format(3, '.', ' ') }}</td>
                                            </tr>
                                            {% set tva = tva + ip.quantity*((ip.article.sellPrice*ip.article.tva.taux)/100) %}
                                            {% set total = total + ip.quantity*ip.article.sellPrice %}
                                            {% set n = n +1 %}
                                        {% endfor %}
                                            {% set discount = (entity.total*entity.discount)/100 %}
                                            {% set x = (11-n)*40 %}
                                            {% if x > 0 %}
                                            <tr style="height: {{x}}">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <td style="border: 0 none;"></td>
                                                <td colspan="2" class='taxes'  style="border: 0 none;">
                                                    <p>
                                                        {% if entity.customer.tvaType == 1 %}
                                                            <span>TOTAL HT</span>
                                                        {% else %}
                                                            <span>TOTAL</span>
                                                        {% endif %}
                                                    </p>
                                                </td>
                                                <td class='taxes'>
                                                    <p>
                                                        <span class="totalprice" style="float: left;">DT</span>
                                                        {% if entity.customer.tvaType == 1 %}
                                                            <span>{{ total|number_format(3, '.', ' ') }}</span>
                                                        {% else %}                                                  
                                                            <span>{{ total|number_format(3, '.', ' ') }}</span>
                                                        {% endif %}
                                                    </p>
                                                </td>
                                            </tr>
                                            {% if entity.customer.tvaType == 1 %}
                                            <tr>
                                                <td style="border: 0 none;"></td>
                                                <td colspan="2" class='taxes'  style="border: 0 none;">
                                                    <p>
                                                            <span>TVA</span>
                                                    </p>
                                                </td>
                                                <td class='taxes'>
                                                    <p>
                                                        <span class="totalprice" style="float: left;">DT</span>
                                                        <span>{{ tva|number_format(3, '.', ' ') }}</span>
                                                    </p>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <td style="border: 0 none;"></td>
                                                <td colspan="2" class='taxes' style="border: 0 none;">
                                                    <p>
                                                        <span>REMISE</span>
                                                    </p>
                                                </td>
                                                <td class='taxes'>
                                                    <p>
                                                        <span class="totalprice" style="float: left;">DT</span>
                                                        <span>{{ (total-entity.total+tva)|number_format(3, '.', ' ') }}</span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border: 0 none;"></td>
                                                <td colspan="2" class='taxes' style="border: 0 none;">
                                                    <p>
                                                        <span class="totalprice">NET A PAYER</span>
                                                    </p>
                                                </td>
                                                <td class='taxes'>
                                                    <p>
                                                        <span class="totalprice" style="float: left;">DT</span>
                                                        <span class="totalprice">
                                                                {{ entity.total|number_format(3, '.', ' ') }}
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                        </div>
                </div>
    </div>
</div>
</body>
</html>