    {% for item in list %}
        <tr>
            {% for field in fields %}
                {% set f = field.field %}
                <td>
                    {% if attribute(item, f).timestamp is defined %}
                        {{ attribute(item, f)|date('d-m-Y') }}
                    {% elseif f=='paid' %}
                        {% if attribute(item, f) == 100 %}
                            <span class="label label-satgreen">payée</span>
                        {% else %}
                            <span class="label label-lightred">non payée</span>
                        {% endif %}
                    {% elseif f=='t_type' %}
                        {% if attribute(item, f) %}
                            <span class="label label-lightred">depense</span>
                        {% else %}
                            <span class="label label-satgreen">encaissement</span>
                        {% endif %}
                    {% elseif f=='black' %}
                        {% if attribute(item, f) %}
                            <span class="label label-lightgrey">Sans facture</span>
                        {% else %}
                            <span class="label label-satgreen">Avec facture</span>
                        {% endif %}
                    {% elseif f=='total' or f=='sell_price' or f=='amount' or f=='buy_price' %}
                            {{ attribute(item, f)|number_format(3, '.', ' ') }}
                    {% else %}
                        {{ attribute(item, f) }}
                    {% endif %}
                </td>
            {% endfor %}
            <td>
                {% if class != 'transaction' %}
                    <a href="{{ path(name_space ~ '_' ~ bundle ~ '_' ~ class ~ '_show', {'id': item.id}) }}" class="btn" rel="tooltip" title="Voir"><i class="icon-search"></i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path(name_space ~ '_' ~ bundle ~ '_' ~ class ~ '_update', {'id': item.id}) }}" class="btn" rel="tooltip" title="Editer"><i class="icon-edit"></i></a>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="#" id="{{ item.id }}" class="btn delete" rel="tooltip" title="Effacer" data-href="{{ path(name_space ~ '_' ~ bundle ~ '_' ~ class ~ '_delete', {'id': item.id}) }}"><i class="icon-remove"></i></a>
                    {% endif %}
                {% else %}
                    <a href="#" class="btn" rel="tooltip" title="Voir"><i class="icon-search"></i></a>
                    <a href="#" class="btn" rel="tooltip" title="Editer"><i class="icon-edit"></i></a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="#" id="{{ item.id }}" class="btn delete" rel="tooltip" title="Effacer" data-href="#"><i class="icon-remove"></i></a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}