        {% if page == 1 %}
            {% if lastpage <2 %}
                <a id="" href="#" class="disabled page-btn">First</a>
                <a id="" href="#" class="disabled page-btn">Previous</a>
                <span>
                    <a id="{{ page }}" class="active">{{ page }}</a>
                </span>
                <a id="" href="#" class="disabled page-btn">Next</a>
                <a id="" href="#" class="disabled page-btn">Last</a>
            {% else %}
                <a id="" href="#" class="disabled page-btn">First</a>
                <a id="" href="#" class="disabled page-btn">Previous</a>
                <span>
                    <a id="{{ page }}" class="active">{{ page }}</a>
                    {% if lastpage > 1 %}
                        <a id="{{ page+1 }}" href="#" class="page-btn">{{ page+1 }}</a>
                        {% if lastpage > 2 %}
                            <a id="{{ page+2 }}" href="#" class="page-btn">{{ page+2 }}</a>
                        {% endif %}
                    {% endif %}
                </span>
                <a id="{{ page+1 }}" href="#" class="page-btn">Next</a>
                <a id="{{ lastpage }}" href="#" class="page-btn">Last</a>
            {% endif %}
        {% else %}
            {% if page == lastpage %}
                <a id="1" href="#" class="page-btn">First</a>
                <a id="{{ page-1 }}" href="#" class="page-btn">Previous</a>
                <span>
                    {% if lastpage > 2 %}
                        <a id="{{ page-2 }}" href="#" class="page-btn">{{ page-2 }}</a>
                    {% endif %}
                    <a id="{{ page-1 }}" href="#" class="page-btn">{{ page-1 }}</a>
                    <a id="{{ page }}" class="active">{{ page }}</a>
                </span>
                <a id="" href="#" class="disabled page-btn">Next</a>
                <a id="" href="#" class="disabled page-btn">Last</a>
            {% else %}
                <a id="1" href="#" class="page-btn">First</a>
                <a id="{{ page-1 }}" href="#" class="page-btn">Previous</a>
                <span>
                    <a id="{{ page-1 }}" href="#" class="page-btn">{{ page-1 }}</a>
                    <a id="{{ page }}" class="active">{{ page }}</a>
                    <a id="{{ page+1 }}" href="#" class="page-btn">{{ page+1 }}</a>
                </span>
                <a id="{{ page+1 }}" href="#" class="page-btn">Next</a>
                <a id="{{ lastpage }}" href="#" class="page-btn">Last</a>
            {% endif %}
        {% endif %}