{% extends "CommercialMainBundle:Layouts/Admin:online_layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
    
{% block content_body %}{% endblock content_body %}
