{% extends "ProximaUserBundle::layout.html.twig" %}

{% trans_default_domain 'ProximaUserBundle' %}

{% block title %}{{ parent() ~ ' - ' ~ 'layout.login'|trans }}{% endblock %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('bundles/proximauser/theme/css/bootstrap.min.css') }}">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="{{ asset('bundles/proximauser/theme/css/bootstrap-responsive.min.css') }}">
    <!-- icheck -->
    <link rel="stylesheet" href="{{ asset('bundles/proximauser/theme/css/plugins/icheck/all.css') }}">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/proximauser/theme/css/style.css') }}">
    <!-- Color CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/proximauser/theme/css/themes.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/proximauser/css/custom-login-style.css') }}">

    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/proximauser/theme/img/apple-touch-icon-precomposed.png') }}" />
{% endblock %}

{% block class_body %}login{% endblock %}
    
{% block proxima_user_login_content %}
<div class="wrapper">
    <h1><a href="index.html"><img src="{{ asset('bundles/proximauser/theme/img/logo-big.png') }}" alt="" class='retina-ready' width="59" height="49">{{ 'layout.authentication'|trans({'%name%': '3EC'}) }}</a></h1>
    <div class="login-body">
        {% block content_body %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('bundles/proximauser/theme/js/jquery.min.js') }}"></script>

    <!-- Nice Scroll -->
    <script src="{{ asset('bundles/proximauser/theme/js/plugins/nicescroll/jquery.nicescroll.min.js') }}"></script>
    <!-- Validation -->
    {% if(app.request.locale == 'fr') %}
        <script src="{{ asset('bundles/proximauser/js/jquery.validate.min.fr.js') }}"></script>
    {% elseif(app.request.locale == 'en') %}
        <script src="{{ asset('bundles/proximauser/theme/js/plugins/validation/jquery.validate.min.js') }}"></script>
    {% endif %}
    <script src="{{ asset('bundles/proximauser/theme/js/plugins/validation/additional-methods.min.js') }}"></script>
    <!-- icheck -->
    <script src="{{ asset('bundles/proximauser/theme/js/plugins/icheck/jquery.icheck.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('bundles/proximauser/theme/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/proximauser/theme/js/eakroko.js') }}"></script>

    <!--[if lte IE 9]>
            <script src="{{ asset('bundles/proximauser/theme/js/plugins/placeholder/jquery.placeholder.min.js') }}"></script>
            <script>
                    $(document).ready(function() {
                            $('input, textarea').placeholder();
                    });
            </script>
    <![endif]-->
{% endblock %}