/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 23, 2013, 10:17:46 AM
    Author     : wajih
*/
.table-pagination > span > a.active {
    cursor: default;
}

.select2 {
    min-width: 200px;
}
#left .subnav .subnav-title .toggle-subnav i {
    display: block;
}
.slick-header-column:hover {
    background-color: #f5f5f5;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #E6E6E6;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.slick-header-columns {
    background-color: #F2F2F2;
    border-bottom: 1px solid #C0C0C0;
}

.slick-row.odd {
  background: #fafafa;
}

.align-right{
    text-align: right;
}

.grid-container{
    height: 500px;
    border: 1px solid rgb(170, 170, 170);
    background-color: rgb(238, 238, 238);
    overflow: hidden;
    outline: 0px none;
    position: relative;
}

.grid-me {
    border: 2px solid #c7c7c7;
    margin-bottom: 15px;
    border-radius: 3px;
}

.grid-me-title {
    padding: 8px; 
    font-weight: bold;
    min-height: 20px;
    background-color: #f9f9f9;
}

.item{
    padding: 8px;
    border-bottom: 1px solid #dddddd;
    min-height: 36px;
    margin: 5px 0;
}

#navigation .user .icon-nav > li .message-ul > li > a .details {
    max-width: 240px;
}