<table id="list" class="{{ css_class }}">
    <thead>
        <tr>
            {% for key in table_header %}
                <th>{{ key.label }}</th>
            {% endfor %}
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {{ list|raw }}
        </tbody>
</table>
<div class="table-pagination">
    {{ paginator|raw }}
</div>