{% for deadline in deadlines %}
    <li>
        <a href="#">
            <div class="details">
                <div class="name">{{ deadline.invoice.customer.companyName }}</div>
                <div class="message">
                    Ce client a une échéance aujourd'hui
                </div>
            </div>
        </a>
    </li>
{% endfor %}