{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Accueil{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/themes/admin/js/plugins/select2/select2.min.js'
        filter='?yui_js'
         %}
<script src="{{ asset_url }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".select2-me").select2();
        $('.delete').confirmation();
        // Validation
        $('.form-validate').validate({
            errorElement: 'span',
            errorClass: 'help-block error',
            errorPlacement: function(error, element) {
                element.parents('.controls').append(error);
            },
            highlight: function(label) {
                $(label).closest('.control-group').removeClass('error success').addClass('error');
            },
            success: function(label) {
                label.addClass('valid').closest('.control-group').removeClass('error success').addClass('success');
            }
        });
    });
    </script>
    {% endjavascripts %}
{% endblock javascripts %}
{% block content_body %}
    <div class="page-header">
        <div class="pull-left">
            <h1>Tableau de board</h1>
        </div>
        <div class="pull-right">
            <ul class="stats">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class='satgreen'>
                        <i class="icon-money"></i>
                        <div class="details">
                            <span class="big">DT {{ solde|number_format(3, '.', ' ') }}</span>
                            <span>Caisse</span>
                        </div>
                    </li>
            {% endif %}
                    <li class='lightred'>
                        <i class="icon-calendar"></i>
                        <div class="details">
                            <span class="big">{{ "now"|date("F j, Y")|localizeddate('medium', 'none', app.request.locale ) }}</span>
                            <span>{{ "now"|date("H:i")}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="box box-color box-bordered">
                    <div class="box-title">
                        <h3>
                            <i class="icon-bar-chart"></i>
                            Facture
                        </h3>
                    </div>
                    <div class="box-content">
                        <div class="statistic-big">
                            <div class="top">
                                <div class="left">
                                    <h4>Facture récente</h4>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="flot medium" id="flot-audience">
                                    <table class="table table-hover table-nomargin">
                                        <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>Client</th>
                                                <th class='hidden-350'>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                        {% for invoice in last_invoices %}
                                                <tr>
                                                    <td>{{ invoice.num }}</td>
                                                    <td>{{ invoice.cName }}</td>
                                                    <td class='hidden-350'>{{ invoice.total|number_format(3, '.', ' ') }}</td>
                                                    </tr>
                                                        {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <ul class="stats-overview">
                                            <li>
                                                <span class="name">
                                                    Facture
                                                </span>
                                                <span class="value">
                                                                {{ nb_invoices }}
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="name">
                                                        Client
                                                    </span>
                                                    <span class="value">
                                                                {{ nb_customers }}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endblock %}