{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Article{% endblock %}
{% block content_body %}
    <div class="span4" style="margin:10px auto 0; float:none;">
        {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-{{ flashMessage.key }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ flashMessage.title }}!</strong> {{ flashMessage.msg }}
        </div>
        {% endfor %}
    </div>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-info"></i>
                    Informations
                </h3>
            </div>
            <div class="box-content">
                <div class="invoice-info">
                    <div class="invoice-from">
                        <span>Détails</span>
                        <strong>Famille</strong>
                        <address>
                            {{ entity.category.name }} <br>
                        </address>
                        <strong>Reference</strong>
                        <address>
                            {{ entity.reference }} <br>
                        </address>
                        <strong>Désignation</strong>
                        <address>
                            {{ entity.name }} <br>
                        </address>
                        <strong>TVA</strong>
                        <address>
                            {{ entity.tva.name }} <br>
                        </address>
                    </div>
                    <div class="invoice-to">
                        <span>Prix</span>
                        <strong>Prix d'achat HT</strong>
                        <address>
                            {{ entity.buyPrice|number_format(3, '.', ' ') }} <br>
                        </address>
                        <strong>Marge</strong>
                        <address>
                            {{ entity.marge }} %<br>
                        </address>
                        <strong>Prix de vente HT</strong>
                        <address>
                            {{ entity.sellPrice|number_format(3, '.', ' ') }} <br>
                        </address>
                        <strong>Prix de vente TTC</strong>
                        <address>
                            {% set price_ttc = entity.sellPrice+((entity.sellPrice*entity.tva.taux)/100) %}
                            {{ price_ttc|number_format(3, '.', ' ') }} <br>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}