{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Article{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/themes/admin/js/plugins/select2/select2.min.js'
        filter='?yui_js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        <script type="text/javascript">
            $(document).ready(function() {
                 $(".select2-me").select2();
                 // Validation
                 $('.form-validate').validate({
                        errorElement:'span',
                        errorClass: 'help-block error',
                        errorPlacement:function(error, element){
                                element.parents('.controls').append(error);
                        },
                        highlight: function(label) {
                                $(label).closest('.control-group').removeClass('error success').addClass('error');
                        },
                        success: function(label) {
                                label.addClass('valid').closest('.control-group').removeClass('error success').addClass('success');
                        }
                 });
                 $('.marge').on('keyup', function(){
                    var bp = $('.buy_price').val(),
                        marge = $(this).val();
                    $('.sell_price').val((parseFloat(bp)+((marge*bp)/100)).toFixed(3));
                });
                 $('.buy_price').on('keyup', function(){
                    var marge = $('.marge').val(),
                        bp = $(this).val();
                    $('.sell_price').val((parseFloat(bp)+((marge*bp)/100)).toFixed(3));
                });
            });
        </script>
{% endblock javascripts %}
{% block content_body %}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i> Modifier article</h3>
            </div>
            <div class="box-content">
                {{ form_start(form, {'attr': {'class': 'form-horizontal form-validate'}}) }}
                    <div class="control-group">
                        <label for="{{ form.category.vars.full_name }}" class="control-label">Famille: </label>
                        <div class="controls">
                            {{ form_widget(form.category, {'attr': {'class': 'select2-me input-xlarge', 'data-rule-required':'true' }}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.reference.vars.full_name }}" class="control-label">Réference: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.reference.vars.full_name }}" value="{{ entity.reference }}" data-rule-required="true" id="{{ form.reference.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.name.vars.full_name }}" class="control-label">Désignation: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.name.vars.full_name }}" value="{{ entity.name }}" data-rule-required="true" id="{{ form.name.vars.full_name }}" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.buy_price.vars.full_name }}" class="control-label">Prix d'achat HT: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.buy_price.vars.full_name }}" value="{{ entity.buyPrice }}" data-rule-required="true" id="{{ form.buy_price.vars.full_name }}" class="input-xlarge buy_price">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.marge.vars.full_name }}" class="control-label">marge: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.marge.vars.full_name }}" value="{{ entity.marge }}" data-rule-required="true" id="{{ form.marge.vars.full_name }}" class="input-small marge"> %
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.sell_price.vars.full_name }}" class="control-label">Prix de vente HT: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.sell_price.vars.full_name }}" value="{{ entity.sellPrice }}" data-rule-required="true" id="{{ form.sell_price.vars.full_name }}" class="input-xlarge sell_price">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Taux de tva: </label>
                        <div class="controls controls-row">
                            {{ form_widget(form.tva, {'attr': {'class': 'select2-me input-xlarge tva', 'data-rule-required':'false' }}) }}
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button type="cancel" class="btn">Annuler</button>
                    </div>
                    {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}