{% extends "CommercialMainBundle:Layouts/Admin:offline_layout.html.twig" %}

{% trans_default_domain 'ProximaUserBundle' %}

{% block content_body %}
<h2>{{ 'layout.reset'|trans }}</h2>

<div class="control-group{% if invalid_username is defined %} error{% endif %}">
    <div class="alert" style="margin-left: 10px; margin-right: 10px;">
        {{ 'resetting.password_already_requested'|trans }}
    </div>
</div>
    
<div class="forget">
    <a href="{{ path('fos_user_security_login') }}"><span>{{ 'resetting.backlink'|trans }}</span></a>
</div>

{% endblock content_body %}
