{% trans_default_domain 'ProximaUserBundle' %}

<h2>{{ 'layout.reset'|trans }}</h2>

<form class='form-validate' id="test" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="control-group{% if invalid_username is defined %} error{% endif %}">
        <div class="email controls">
            <input type="text"  id="username" name="username" placeholder="{{ 'resetting.request.username'|trans }}" class='input-block-level' data-rule-required="true" data-rule-email="false">
            {% if invalid_username is defined %}
                <span class="help-block error" for="username">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</span>
            {% endif %}
        </div>
    </div>

    <div class="submit">
        <input type="submit"  id="_submit" name="_submit" value="{{ 'resetting.request.submit'|trans }}" class='btn btn-primary'>
    </div>
</form>
    
<div class="forget">
    <a href="{{ path('fos_user_security_login') }}"><span>{{ 'resetting.backlink'|trans }}</span></a>
</div>
