{% trans_default_domain 'ProximaUserBundle' %}
    
<h2>{{ 'layout.reset'|trans }}</h2>
{% if form_errors(form) %}
    <div class="alert alert-error" style="margin-left: 10px; margin-top: 10px; margin-right: 10px;">
            <button data-dismiss="alert" class="close" type="button">×</button>
            {{ form_errors(form) }}
    </div>
{% endif %}
<form class='form-validate' id="test" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_request">
    <div class="control-group">
        <div class="pw controls">
            <input type="password" name="fos_user_resetting_form[plainPassword][first]" id="fos_user_resetting_form_plainPassword_first" placeholder="{{ 'form.new_password'|trans }}" class='input-block-level' data-rule-required="true">
        </div>
    </div>
    <div class="control-group">
        <div class="pw controls">
            <input type="password" name="fos_user_resetting_form[plainPassword][second]" id="fos_user_resetting_form_plainPassword_second" placeholder="{{ 'form.new_password_confirmation'|trans }}" class='input-block-level' data-rule-required="true" data-rule-equalto="#fos_user_resetting_form_plainPassword_first">
        </div>
    </div>
    <div class="submit">
        <input type="submit"  id="_submit" name="_submit" value="{{ 'resetting.reset.submit'|trans }}" class='btn btn-primary'>
    </div>
    {{ form_widget(form._token) }}
</form>
    
<div class="forget">
    <a href="{{ path('fos_user_security_login') }}"><span>{{ 'resetting.backlink'|trans }}</span></a>
</div>

