{% extends "::base.html.twig" %}

{% block title %}Commercial{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    {% stylesheets 
        'bundles/commercialmain/themes/admin/css/bootstrap.min.css'
        'bundles/commercialmain/themes/admin/css/bootstrap-responsive.min.css'
        'bundles/commercialmain/themes/admin/css/plugins/icheck/all.css'
        'bundles/commercialmain/themes/admin/css/style.css'
        'bundles/commercialmain/themes/admin/css/themes.css'

        'bundles/proximauser/css/custom-login-style.css'
        filter='?yui_css,cssrewrite' 
         %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/themes/admin/js/jquery.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/nicescroll/jquery.nicescroll.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/validation/jquery.validate.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/validation/additional-methods.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/icheck/jquery.icheck.min.js'
        'bundles/commercialmain/themes/admin/js/bootstrap.min.js'
        'bundles/commercialmain/themes/admin/js/eakroko.js'

        'bundles/commercialmain/js/jquery.blockUI.js'
        'bundles/commercialmain/js/common.js'
        'bundles/proximauser/js/Login.js'

        'bundles/fosjsrouting/js/router.js'
        'js/fos_js_routes.js'
        filter='?yui_js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!--[if lte IE 9]>
            <script src="{{ asset('bundles/commercialmain/js/plugins/placeholder/jquery.placeholder.min.js') }}"></script>
            <script>
                    $(document).ready(function() {
                            $('input, textarea').placeholder();
                    });
            </script>
    <![endif]-->
    <script type="text/javascript">
        $(document).ready(function() {
            Login().init();
        });
    </script>
{% endblock javascripts %}
        
        
{% block body %}
    <div class="wrapper">
        <h1><a href="index.html"><img src="{{ asset('bundles/commercialmain/themes/admin/img/logo-big.png') }}" alt="" class='retina-ready' width="59" height="49">Proxicom</a></h1>
        <div class="login-body">
            {% block content_body %}{% endblock %}
        </div>
    </div>
{% endblock %}
