{% extends "::base.html.twig" %}

{% block title %}Commercial{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    {% stylesheets 
        'bundles/commercialmain/themes/admin/css/bootstrap.min.css'
        'bundles/commercialmain/themes/admin/css/bootstrap-responsive.min.css'
        'bundles/commercialmain/themes/admin/css/plugins/jquery-ui/smoothness/jquery-ui.css'
        'bundles/commercialmain/themes/admin/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css'
        'bundles/commercialmain/themes/admin/css/plugins/select2/select2.css'
        'bundles/commercialmain/third-party/css/slickGrid/slick.grid.css'
        'bundles/commercialmain/themes/admin/css/style.css'
        'bundles/commercialmain/themes/admin/css/themes.css'
        'bundles/commercialmain/themes/admin/css/plugins/icheck/all.css'
        'bundles/commercialmain/css/custom.css'

        filter='?yui_css,cssrewrite'
         %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/themes/admin/js/jquery.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/nicescroll/jquery.nicescroll.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/jquery-ui/jquery.ui.core.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/jquery-ui/jquery.ui.widget.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/jquery-ui/jquery.ui.mouse.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/jquery-ui/jquery.ui.resizable.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/jquery-ui/jquery.ui.sortable.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/slimscroll/jquery.slimscroll.min.js'
        'bundles/commercialmain/themes/admin/js/bootstrap.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/form/jquery.form.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/validation/jquery.validate.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/validation/additional-methods.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/validation/messages_fr.js'
        

        'bundles/commercialmain/js/jquery.blockUI.js'
        'bundles/commercialmain/third-party/js/bootbox.min.js'
        'bundles/commercialmain/third-party/js/bootstrap-confirmation.js'
        'bundles/commercialmain/js/common.js'

        'bundles/fosjsrouting/js/router.js'
        'js/fos_js_routes.js'
        filter='?yui_js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!--[if lte IE 9]>
            <script src="{{ asset('bundles/commercialmain/js/plugins/placeholder/jquery.placeholder.min.js') }}"></script>
            <script>
                    $(document).ready(function() {
                            $('input, textarea').placeholder();
                    });
            </script>
    <![endif]-->
    <script type="text/javascript">
        $(document).ready(function() {
            function hideNav(){
                $("#left").toggle().toggleClass("forced-hide");
                if($("#left").is(":visible")) {
                    $("#main").css("margin-left", $("#left").width());
                } else {
                    $("#main").css("margin-left", 0);
                }

                if($('.dataTable').length > 0){
                    var table = $.fn.dataTable.fnTables(true);
                    if ( table.length > 0 ) {
                        $(table).each(function(){
                            if($(this).hasClass("dataTable-scroller")){
                                $(this).dataTable().fnDraw();
                            }
                        });
                        $(table).dataTable().fnAdjustColumnSizing();
                    }
                }

                if($(".calendar").length > 0){
                    $(".calendar").fullCalendar("render");
                }
            }
            $('.toggle-nav').click(function(e){
                e.preventDefault();
                hideNav();
            });

            if($("#content").hasClass("nav-hidden")){
                hideNav();
            }
            $("[rel=popover]").popover();
            $.ajax({
                url: Routing.generate('commercial_main_deadline'),
                type: 'get',
                success: function(response){
                    $('#nb-deadline').html(response.n);
                    $('#d-message').html(response.deadlines);
                }
            });
        });
    </script>
{% endblock javascripts %}
        
        
{% block body %}
    {% include 'CommercialMainBundle:Layouts/Admin/Common/Online:_header.html.twig'%}
    <div class="container-fluid" id="content">
        {% include 'CommercialMainBundle:Layouts/Admin/Common/Online:_sidebar.html.twig'%}
        <div id="main">
            <div class="container-fluid">
                {% block content_body %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}