{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Transaction{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/themes/admin/js/plugins/select2/select2.min.js'
        'bundles/commercialmain/themes/admin/js/plugins/datepicker/bootstrap-datepicker.js'
        'bundles/commercialmain/themes/admin/js/plugins/datepicker/locales/bootstrap-datepicker.fr.js'
        'bundles/commercialmain/themes/admin/js/plugins/icheck/jquery.icheck.min.js'
        filter='?yui_js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        <script type="text/javascript">
            $(document).ready(function() {
                 // Validation
                 $('.form-validate').validate({
                        errorElement:'span',
                        errorClass: 'help-block error',
                        errorPlacement:function(error, element){
                                element.parents('.controls').append(error);
                        },
                        highlight: function(label) {
                                $(label).closest('.control-group').removeClass('error success').addClass('error');
                        },
                        success: function(label) {
                                label.addClass('valid').closest('.control-group').removeClass('error success').addClass('success');
                        }
                 });
                 if($(".icheck-me").length > 0){
                        $(".icheck-me").each(function(){
                                var $el = $(this);
                                var skin = ($el.attr('data-skin') !== undefined) ? "_"+$el.attr('data-skin') : "",
                                color = ($el.attr('data-color') !== undefined) ? "-"+$el.attr('data-color') : "";

                                var opt = {
                                        checkboxClass: 'icheckbox' + skin + color,
                                        radioClass: 'iradio' + skin + color,
                                        increaseArea: "10%"
                                }

                                $el.iCheck(opt);
                        });
                }
            });
        </script>
{% endblock javascripts %}
{% block content_body %}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i> Nouveau transaction</h3>
            </div>
            <div class="box-content">
                {{ form_start(form, {'attr': {'class': 'form-horizontal form-validate'}}) }}
                    <div class="control-group">
                        <label class="control-label">Montant: </label>
                        <div class="controls">
                            <input type="text" name="{{ form.amount.vars.full_name }}" data-rule-required="true" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group" style="padding: 10px;">
                        <label class="control-label">Type de transaction: </label>
                        <div class="controls">
                            <div class="check-line">
                                <input type="radio" class='icheck-me'  id="c7" name="transaction_type" value="0" data-skin="square" data-color="blue" checked> <label class='inline'>Encaissement</label>
                            </div>
                            <div class="check-line">
                                <input type="radio" class='icheck-me'  id="c8" name="transaction_type" value="1" data-skin="square" data-color="blue"> <label class='inline'>Dépense</label>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="{{ form.description.vars.full_name }}" class="control-label">Description: </label>
                        <div class="controls">
                                <textarea name="{{ form.description.vars.full_name }}" id="textarea" class="input-block-level"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Valider</button>
                        <button type="cancel" class="btn">Annuler</button>
                    </div>
                    {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}