{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Transaction{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/js/Transaction.js'
        filter='?yui_js'
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        Transaction().init();
    });
    </script>
{% endblock javascripts %}
{% block content_body %}
    <div class="span4" style="margin:10px auto 0; float:none;">
        {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-{{ flashMessage.key }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ flashMessage.title }}!</strong> {{ flashMessage.msg }}
        </div>
        {% endfor %}
    </div>
    <div class="page-header">
        <div class="pull-right">
            <ul class="stats">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class='satgreen'>
                    <i class="icon-money"></i>
                    <div class="details">
                        <span class="big">DT {{ solde|number_format(3, '.', ' ') }}</span>
                        <span>Caisse</span>
                    </div>
                </li>
                {% endif %}
                <li class='lightred'>
                    <i class="icon-calendar"></i>
                    <div class="details">
                        <span class="big">{{ "now"|date("F j, Y")|localizeddate('medium', 'none', app.request.locale ) }}</span>
                        <span>{{ "now"|date("H:i")}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="span4" style="margin:10px auto 0; float:none;">
        {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-{{ flashMessage.key }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ flashMessage.title }}!</strong> {{ flashMessage.msg }}
        </div>
        {% endfor %}
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="box box-color box-bordered green">
                <div class="box-title">
                    <h3>
                        <i class="icon-table"></i>
                        Liste des transactions
                    </h3>
                </div>
                <div class="box-content nopadding">
                    {{ table|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}