<div id="navigation">
    <div class="container-fluid">
        <a href="{{ path('commercial_main_homepage') }}" id="brand" style="padding-right: 33px;">Proxicom</a>
        <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="cacher menu" data-original-title="cacher menu"><i class="icon-reorder"></i></a>
        <ul class="main-nav">
            {% include 'CommercialMainBundle:Layouts/Admin/Common/Online:_top_menu.html.twig'%}
        </ul>
        <div class="user">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <ul class="icon-nav">
                    <li class='dropdown'>
                        <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-envelope"></i><span id="nb-deadline" class="label label-lightred"></span></a>
                        <ul id="d-message" class="dropdown-menu pull-right message-ul">
                        </ul>
                    </li>
                </ul>
            {% endif %}
            <div class="dropdown">
                <a href="#" class='dropdown-toggle' data-toggle="dropdown">{{ app.user.username }} <img src="{{ asset('bundles/commercialmain/themes/admin/img/demo/user-avatar.jpg') }}" alt=""></a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}"><i class="icon-user"></i>&nbsp;Edit profile</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}"><i class="icon-signout"></i>&nbsp;Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>