<div id="left">
    <form action="search-results.html" method="GET" class='search-form'>
        <div class="search-pane">
            <input type="text" name="search" placeholder="Search here...">
            <button type="submit"><i class="icon-search"></i></button>
        </div>
    </form>
{% include 'CommercialMainBundle:Layouts/Admin/Common/Online:_sidebar_menu.html.twig'%}