<div class="subnav">
    <div class="subnav-title">
        <a class="toggle-subnav" href="#"><i class="glyphicon-cargo"></i><span>Stock</span></a>
    </div>
    <ul class="subnav-menu">
        <li class="{% if 'commercial_main_warehousearticle_all' in app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('commercial_main_warehousearticle_all') }}">Balance du stock</a>
        </li>
        <li class='dropdown {% if 'commercial_main_warehouse_' in app.request.get('_route') %}active{% endif %}'>
                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>Dépôt</a>
                <ul class="dropdown-menu">
                        <li class="{% if 'commercial_main_warehouse_all' in app.request.get('_route') %}active{% endif %}">
                            <a href="{{ path('commercial_main_warehouse_all') }}">Liste</a>
                        </li>
                        <li class="{% if 'commercial_main_warehouse_add' in app.request.get('_route') %}active{% endif %}">
                            <a href="{{ path('commercial_main_warehouse_add') }}">Nouveau</a>
                        </li>
                </ul>
        </li>
    </ul>
</div>
<div class="subnav">
    <div class="subnav-title">
        <a class="toggle-subnav" href="#"><i class="icon-file"></i><span>Devis</span></a>
    </div>
    <ul class="subnav-menu">
        <li class="{% if 'commercial_main_quote_add' in app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('commercial_main_quote_add') }}">Nouveau devis</a>
        </li>
        <li class="{% if 'commercial_main_quote_all' in app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('commercial_main_quote_all') }}">Liste des devis</a>
        </li>
    </ul>
 </div>
<div class="subnav">
    <div class="subnav-title">
        <a class="toggle-subnav" href="#"><i class="icon-file-alt"></i><span>Bon de livraison</span></a>
    </div>
    <ul class="subnav-menu">
        <li class="{% if 'commercial_main_deliveryorder_add' in app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('commercial_main_deliveryorder_add') }}">Nouveau Bon</a>
        </li>
        <li class="{% if 'commercial_main_deliveryorder_all' in app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('commercial_main_deliveryorder_all') }}">Liste des bons</a>
        </li>
    </ul>
 </div>
<div class="subnav">
    <div class="subnav-title">
        <a class="toggle-subnav" href="#"><i class="icon-paste"></i><span>Factures</span></a>
    </div>
    <ul class="subnav-menu">
        <li class="{% if 'commercial_main_invoice_add' in app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('commercial_main_invoice_add') }}">Nouvelle facture</a>
        </li>
        <li class="{% if 'commercial_main_invoice_all' in app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('commercial_main_invoice_all') }}">Liste des factures</a>
        </li>
    </ul>
 </div>
<div class="subnav">
    <div class="subnav-title">
        <a class="toggle-subnav" href="#"><i class="glyphicon-shopping_cart"></i><span>Achat</span></a>
    </div>
    <ul class="subnav-menu">
        <li class="{% if 'commercial_main_reception_add' in app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('commercial_main_reception_add') }}">Mouvement d'entrée</a>
        </li>
        <li class="{% if 'commercial_main_warehouseentry_all' in app.request.get('_route') %}active{% endif %}">
                <a href="{{ path('commercial_main_warehouseentry_all') }}">Liste des mouvements</a>
        </li>
    </ul>
 </div>


</div>