<li class="{% if app.request.get('_route') == 'Commercial_main_homepage' %}active{% endif %}">
    <a href="{{ path('commercial_main_homepage') }}">
        <i class="icon-home"></i>
        <span>Dashboard</span>
    </a>
</li>
<li class="{% if 'fos_user_' in app.request.get('_route') %}active{% elseif 'proxima_user_' in app.request.get('_route') %}active{% endif %}">
    <a href="#" class='dropdown-toggle' data-toggle="dropdown">
        <i class="icon-group"></i>
        <span>Utilisateurs</span>
		<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
            <li class="{% if 'proxima_user_all' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('proxima_user_all') }}">Liste</a>
            </li>
            <li class="{% if 'proxima_user_new' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('proxima_user_new') }}">Nouveau</a>
            </li>
    </ul>
</li>
<li class="{% if 'commercial_main_category_' in app.request.get('_route') %}active{% endif %}">
    <a href="#" class='dropdown-toggle' data-toggle="dropdown">
        <i class="icon-sitemap"></i>
        <span>Familles</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
            <li class="{% if 'commercial_main_category_all' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('commercial_main_category_all') }}">Liste</a>
            </li>
            <li class="{% if 'commercial_main_category_add' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('commercial_main_category_add') }}">Nouveau</a>
            </li>
    </ul>
</li>
<li class="{% if 'commercial_main_article_' in app.request.get('_route') %}active{% endif %}">
    <a href="#" class='dropdown-toggle' data-toggle="dropdown">
        <i class="icon-tag"></i>
        <span>Articles</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
            <li class="{% if 'commercial_main_article_all' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('commercial_main_article_all') }}">Liste</a>
            </li>
            <li class="{% if 'commercial_main_article_add' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('commercial_main_article_add') }}">Nouveau</a>
            </li>
    </ul>
</li>
<li class="{% if 'commercial_main_customer_' in app.request.get('_route') %}active{% endif %}">
    <a href="#" class='dropdown-toggle' data-toggle="dropdown">
        <i class="icon-user"></i>
        <span>Client</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
            <li class="{% if 'commercial_main_customer_all' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('commercial_main_customer_all') }}">Liste</a>
            </li>
            <li class="{% if 'commercial_main_customer_add' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('commercial_main_customer_add') }}">Nouveau</a>
            </li>
    </ul>
</li>
<li class="{% if 'commercial_main_supplier_' in app.request.get('_route') %}active{% endif %}">
    <a href="#" class='dropdown-toggle' data-toggle="dropdown">
        <i class="glyphicon-shopping_cart"></i>
        <span>Fournisseurs</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
            <li class="{% if 'commercial_main_supplier_all' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('commercial_main_supplier_all') }}">Liste</a>
            </li>
            <li class="{% if 'commercial_main_supplier_add' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('commercial_main_supplier_add') }}">Nouveau</a>
            </li>
    </ul>
</li>
<li class="{% if 'commercial_main_transaction_' in app.request.get('_route') %}active{% endif %}">
    <a href="#" class='dropdown-toggle' data-toggle="dropdown">
        <i class="glyphicon-coins"></i>
        <span>Caisse</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
            <li class="{% if 'commercial_main_transaction_all' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('commercial_main_transaction_all') }}">Liste</a>
            </li>
            <li class="{% if 'commercial_main_transaction_add' in app.request.get('_route') %}active{% endif %}">
                    <a href="{{ path('commercial_main_transaction_add') }}">Nouvelle</a>
            </li>
    </ul>
</li>