{% trans_default_domain 'ProximaUserBundle' %}

<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                <i class="icon-user"></i>
                Changer mot de passe
                </h3>
            </div>
            <div class="box-content nopadding">
                <ul class="tabs tabs-inline tabs-top">
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}"><i class="icon-user"></i> Profil</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_edit') }}"><i class="icon-edit"></i> Modifier</a>
                    </li>
                    <li class='active'>
                        <a href="{{ path('fos_user_change_password')}}"><i class="icon-lock"></i> Sécurité</a>
                    </li>
                </ul>
                <div class="tab-content padding tab-content-inline tab-content-bottom">
                    <div class="tab-pane active" id="profile">
                        <form class="form-horizontal" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
                            {{ form_widget(form) }}

                            <div  class="form-actions">
                                <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>