{% extends "CommercialMainBundle:Layouts:Admin/online_layout.html.twig" %}
{% block title %}{{parent()}} - Stock{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/commercialmain/third-party/js/jquery.event.drag-2.2.js'
        'bundles/commercialmain/third-party/js/slickGrid/slick.core.js'
        'bundles/commercialmain/third-party/js/slickGrid/slick.grid.js'
        'bundles/commercialmain/third-party/js/slickGrid/slick.dataview.js'
        'bundles/commercialmain/third-party/js/slickGrid/slick.rowselectionmodel.js'
        'bundles/commercialmain/js/Store.js'
        filter='?yui_js'
         %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
    $(document).ready(function() {
       Store().init();
    })
    </script>
{% endblock javascripts %}
{% block content_body %}
    <div class="span4" style="margin:10px auto 0; float:none;">
        {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-{{ flashMessage.key }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ flashMessage.title }}!</strong> {{ flashMessage.msg }}
        </div>
        {% endfor %}
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-title">
                    <h3 style="float: none; text-align: center;">
                        <i class="glyphicon-cargo"></i>
                        Balance du stock
                    </h3>
                </div>
                <div class="breadcrumbs" style="margin-top: 20px; border-color: #AAAAAA; border-style: solid solid none; border-width: 1px 1px 0;">
                    <div class="span3" style="float: right;">
                        <div class="search-form">
                            <div class="search-pane">
                                <input type="text" id="search" placeholder="Recherche...">
                                <button type="submit"><i class="icon-search"></i></button>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="box-content nopadding">
                    <div id="myGrid" class="grid-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}